<IfModule mod_rewrite.c>
    RewriteEngine on
    # RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>


<IfModule mod_rewrite.c>
RewriteEngine On
Redirect 301 /app /
Redirect 301 /bootstrap /
Redirect 301 /config /
Redirect 301 /database /
Redirect 301 /resources /
Redirect 301 /routes /
Redirect 301 /storage /
Redirect 301 /tests /
Redirect 301 /vendor /
Redirect 301 ^. /
Redirect 301 /artisan /
Redirect 301 ^/composer /

</IfModule>

